In [9]:
import pandas as pd
from tqdm.notebook import tqdm
import sys

In [43]:
pd.set_option('max_colwidth',None)

In [3]:
df_test = pd.read_csv("../data/20_21/106.csv")

In [4]:
df_test

,Unnamed: 0,Unnamed: 0.1,id,eventId,minute,second,teamId,x,y,expandedMinute,...,isShot,blockedX,blockedY,cardType_value,cardType_displayName,isGoal,name,position,shirtNo,isOwnGoal
0,170327,0,2.243553e+09,2,0,0.0,175,0.0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,170328,1,2.243553e+09,2,0,0.0,23,0.0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,170329,2,2.243553e+09,3,0,0.0,175,50.1,50.3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Filip Krovinovic,MC,17.0,NaN
3,170330,3,2.243553e+09,4,0,2.0,175,34.6,55.5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Dara O'Shea,DC,27.0,NaN
4,170331,4,2.243553e+09,5,0,5.0,175,63.4,9.7,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Darnell Furlong,DMR,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513,171840,1513,2.243762e+09,872,96,16.0,175,0.0,0.0,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1514,171841,1514,2.243763e+09,790,0,0.0,23,0.0,0.0,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1515,171842,1515,2.243763e+09,874,0,0.0,175,0.0,0.0,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1516,171843,1516,2.243506e+09,1,0,0.0,175,0.0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1517,171844,1517,2.243506e+09,1,0,0.0,23,0.0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
sys.path.insert(0, '../')

In [13]:
df_test.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'id', 'eventId', 'minute', 'second',
       'teamId', 'x', 'y', 'expandedMinute', 'qualifiers',
       'satisfiedEventsTypes', 'isTouch', 'period_value', 'period_displayName',
       'type_value', 'type_displayName', 'outcomeType_value',
       'outcomeType_displayName', 'playerId', 'endX', 'endY', 'relatedEventId',
       'relatedPlayerId', 'goalMouthZ', 'goalMouthY', 'isShot', 'blockedX',
       'blockedY', 'cardType_value', 'cardType_displayName', 'isGoal', 'name',
       'position', 'shirtNo', 'isOwnGoal'],
      dtype='object')

In [47]:
sum_cols = ['minute','second','teamId','x','y','endX','endY','type_displayName','outcomeType_displayName','name','qualifiers']

In [12]:
import helper

In [14]:
throw_in_idx = df_test[(df_test.satisfiedEventsTypes.str.contains
                       ('211',case=False))].index.values

In [15]:
throw_in_idx

array([  34,   40,  174,  176,  184,  192,  202,  205,  252,  267,  287,
        297,  397,  408,  413,  419,  425,  490,  558,  566,  689,  692,
        785,  812,  817,  833,  882,  918,  931,  933,  971,  995, 1002,
       1086, 1179, 1193, 1241, 1327, 1350, 1366, 1388, 1448, 1482, 1488,
       1491], dtype=int64)

In [21]:
t_seq = helper.calc_seq(df_test,throw_in_idx)

HBox(children=(FloatProgress(value=0.0, max=44.0), HTML(value='')))

In [25]:
t_seq[:5],t_seq[-5:]

([(34, 40), (40, 174), (174, 176), (176, 184), (184, 192)],
 [(1388, 1448), (1448, 1482), (1482, 1488), (1488, 1491), (1491, 1517)])

In [48]:
df_test.iloc[t_seq[0][0]:t_seq[0][1]+5][sum_cols]

,minute,second,teamId,x,y,endX,endY,type_displayName,outcomeType_displayName,name,qualifiers
34,2,50.0,23,32.0,0.0,33.3,13.8,Pass,Successful,Emil Krafth,"[{'type': {'value': 107, 'displayName': 'ThrowIn'}}, {'type': {'value': 213, 'displayName': 'Angle'}, 'value': '1.4'}, {'type': {'value': 212, 'displayName': 'Length'}, 'value': '10.8'}, {'type': {'value': 140, 'displayName': 'PassEndX'}, 'value': '33.3'}, {'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Back'}, {'type': {'value': 141, 'displayName': 'PassEndY'}, 'value': '13.8'}]"
35,2,51.0,23,29.9,8.7,45.0,8.9,Pass,Unsuccessful,Jonjo Shelvey,"[{'type': {'value': 213, 'displayName': 'Angle'}, 'value': '0.0'}, {'type': {'value': 212, 'displayName': 'Length'}, 'value': '15.9'}, {'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Back'}, {'type': {'value': 140, 'displayName': 'PassEndX'}, 'value': '45.0'}, {'type': {'value': 1, 'displayName': 'Longball'}}, {'type': {'value': 178, 'displayName': 'StandingSave'}}, {'type': {'value': 141, 'displayName': 'PassEndY'}, 'value': '8.9'}]"
36,2,53.0,175,54.8,90.2,NaN,NaN,BallTouch,Successful,Dara O'Shea,"[{'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Left'}, {'type': {'value': 178, 'displayName': 'StandingSave'}}]"
37,2,54.0,175,46.6,73.8,68.3,92.5,Pass,Unsuccessful,Semi Ajayi,"[{'type': {'value': 141, 'displayName': 'PassEndY'}, 'value': '92.5'}, {'type': {'value': 212, 'displayName': 'Length'}, 'value': '26.1'}, {'type': {'value': 1, 'displayName': 'Longball'}}, {'type': {'value': 213, 'displayName': 'Angle'}, 'value': '0.5'}, {'type': {'value': 178, 'displayName': 'StandingSave'}}, {'type': {'value': 140, 'displayName': 'PassEndX'}, 'value': '68.3'}, {'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Left'}]"
38,2,58.0,23,33.2,4.0,36.1,5.3,Pass,Unsuccessful,Emil Krafth,"[{'type': {'value': 140, 'displayName': 'PassEndX'}, 'value': '36.1'}, {'type': {'value': 233, 'displayName': 'OppositeRelatedEvent'}, 'value': '26'}, {'type': {'value': 286, 'displayName': 'Offensive'}}, {'type': {'value': 212, 'displayName': 'Length'}, 'value': '3.2'}, {'type': {'value': 178, 'displayName': 'StandingSave'}}, {'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Back'}, {'type': {'value': 141, 'displayName': 'PassEndY'}, 'value': '5.3'}, {'type': {'value': 213, 'displayName': 'Angle'}, 'value': '0.3'}]"
39,2,58.0,175,67.5,96.8,NaN,NaN,BlockedPass,Successful,Filip Krovinovic,"[{'type': {'value': 233, 'displayName': 'OppositeRelatedEvent'}, 'value': '18'}, {'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Left'}, {'type': {'value': 285, 'displayName': 'Defensive'}}, {'type': {'value': 178, 'displayName': 'StandingSave'}}]"
40,3,22.0,23,32.0,0.0,32.6,5.2,Pass,Successful,Emil Krafth,"[{'type': {'value': 141, 'displayName': 'PassEndY'}, 'value': '5.2'}, {'type': {'value': 140, 'displayName': 'PassEndX'}, 'value': '32.6'}, {'type': {'value': 213, 'displayName': 'Angle'}, 'value': '1.4'}, {'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Back'}, {'type': {'value': 107, 'displayName': 'ThrowIn'}}, {'type': {'value': 212, 'displayName': 'Length'}, 'value': '4.9'}]"
41,3,24.0,23,34.8,10.2,NaN,NaN,Foul,Successful,Sean Longstaff,"[{'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Back'}, {'type': {'value': 233, 'displayName': 'OppositeRelatedEvent'}, 'value': '28'}, {'type': {'value': 286, 'displayName': 'Offensive'}}, {'type': {'value': 13, 'displayName': 'Foul'}}]"
42,3,24.0,175,65.2,89.8,NaN,NaN,Foul,Unsuccessful,Conor Gallagher,"[{'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Left'}, {'type': {'value': 178, 'displayName': 'StandingSave'}}, {'type': {'value': 285, 'displayName': 'Defensive'}}, {'type': {'value': 233, 'displayName': 'OppositeRelatedEvent'}, 'value': '21'}, {'type': {'value': 13, 'displayName': 'Foul'}}]"
43,3,33.0,23,32.8,9.7,24.6,34.7,Pass,Successful,Isaac Hayden,"[{'type': {'value': 178, 'displayName': 'StandingSave'}}, {'type': {'value': 5, 'displayName': 'FreekickTaken'}}, {'type': {'value': 213, 'displayName': 'Angle'}, 'value': '2.0'}, {'type': {'value': 212, 'displayName': 'Length'}, 'value': '19.1'}, {'type': {'value': 141, 'displayName': 'PassEndY'}, 'value': '34.7'}, {'type': {'value': 140, 'displayName': 'PassEndX'}, 'value': '24.6'}, {'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Back'}]"
44,3,34.0,23,22.4,41.0,29.5,86.3,Pass,Successful,Ciaran Clark,"[{'type': {'value': 56, 'displayName': 'Zone'}, 'value': 'Back'}, {'type': {'value': 213, 'displayName': 'Angle'}, 'value': '1.3'}, {'type': {'value': 141, 'displayName': 'PassEndY'}, 'value': '86.3'}, {'type': {'value': 212, 'displayName': 'Length'}, 'value': '31.7'}, {'type': {'value': 178, 'displayName': 'StandingSave'}}, {'type': {'value': 140, 'displayName': 'PassEndX'}, 'value': '29.5'}]"

In [40]:
df_test.type_displayName.unique()

array(['Start', 'Pass', 'BallRecovery', 'Interception', 'BallTouch',
       'Goal', 'BlockedPass', 'Dispossessed', 'Tackle', 'Foul',
       'KeeperPickup', 'Aerial', 'Clearance', 'Punch', 'SavedShot',
       'Save', 'TakeOn', 'Challenge', 'OffsideGiven', 'OffsideProvoked',
       'OffsidePass', 'CornerAwarded', 'MissedShots', 'Card',
       'KeeperSweeper', 'End', 'SubstitutionOff', 'SubstitutionOn',
       'FormationChange', 'Claim', 'FormationSet'], dtype=object)

In [49]:
df_test.query("type_displayName == 'End'")[sum_cols]

,minute,second,teamId,x,y,endX,endY,type_displayName,outcomeType_displayName,name,qualifiers
766,46,5.0,23,0.0,0.0,NaN,NaN,End,Successful,NaN,[]
767,46,5.0,175,0.0,0.0,NaN,NaN,End,Successful,NaN,[]
1512,96,16.0,23,0.0,0.0,NaN,NaN,End,Successful,NaN,[]
1513,96,16.0,175,0.0,0.0,NaN,NaN,End,Successful,NaN,[]
1514,0,0.0,23,0.0,0.0,NaN,NaN,End,Successful,NaN,[]
1515,0,0.0,175,0.0,0.0,NaN,NaN,End,Successful,NaN,[]

In [50]:
end_qualifiers = ['Goal','Foul','KeeperPickup','SavedShot','Save', 'OffsideGiven', 'OffsideProvoked',
       'OffsidePass','CornerAwarded', 'End', 'Claim','MissedShots']

In [ ]:

for seq in t_seq: