In [1]:
!pip install socceraction

Requirement already satisfied: socceraction in c:\users\rithic\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: pandera>=0.6.1 in c:\users\rithic\anaconda3\lib\site-packages (from socceraction) (0.6.1)
Requirement already satisfied: cython in c:\users\rithic\anaconda3\lib\site-packages (from socceraction) (0.29.2)
Requirement already satisfied: unidecode in c:\users\rithic\anaconda3\lib\site-packages (from socceraction) (1.2.0)
Requirement already satisfied: requests in c:\users\rithic\anaconda3\lib\site-packages (from socceraction) (2.25.1)
Requirement already satisfied: scikit-learn in c:\users\rithic\anaconda3\lib\site-packages (from socceraction) (0.24.1)
Requirement already satisfied: lxml in c:\users\rithic\anaconda3\lib\site-packages (from socceraction) (4.2.5)
Requirement already satisfied: tqdm in c:\users\rithic\anaconda3\lib\site-packages (from socceraction) (4.59.0)
Requirement already satisfied: pandas>=1.1.0 in c:\users\rithic\anaconda3\lib\site-packages (from socceraction) (1.3.3)
Requirement already satisfied: packaging>=20.0 in c:\users\rithic\anaconda3\lib\site-packages (from socceraction) (20.9)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\rithic\anaconda3\lib\site-packages (from packaging>=20.0->socceraction) (2.4.7)
Requirement already satisfied: pytz>=2017.3 in c:\users\rithic\anaconda3\lib\site-packages (from pandas>=1.1.0->socceraction) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\rithic\anaconda3\lib\site-packages (from pandas>=1.1.0->socceraction) (2.8.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\rithic\appdata\roaming\python\python37\site-packages (from pandas>=1.1.0->socceraction) (1.21.2)
Requirement already satisfied: wrapt in c:\users\rithic\anaconda3\lib\site-packages (from pandera>=0.6.1->socceraction) (1.12.1)
Requirement already satisfied: typing-inspect>=0.6.0 in c:\users\rithic\anaconda3\lib\site-packages (from pandera>=0.6.1->socceraction) (0.6.0)
Requirement already satisfied: typing-extensions in c:\users\rithic\anaconda3\lib\site-packages (from pandera>=0.6.1->socceraction) (3.7.4.3)
Requirement already satisfied: six>=1.5 in c:\users\rithic\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.1.0->socceraction) (1.15.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\rithic\anaconda3\lib\site-packages (from typing-inspect>=0.6.0->pandera>=0.6.1->socceraction) (0.4.3)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\rithic\anaconda3\lib\site-packages (from requests->socceraction) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\rithic\anaconda3\lib\site-packages (from requests->socceraction) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rithic\anaconda3\lib\site-packages (from requests->socceraction) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rithic\anaconda3\lib\site-packages (from requests->socceraction) (1.26.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\rithic\anaconda3\lib\site-packages (from scikit-learn->socceraction) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\rithic\anaconda3\lib\site-packages (from scikit-learn->socceraction) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\rithic\anaconda3\lib\site-packages (from scikit-learn->socceraction) (1.1.0)

In [2]:
import socceraction
from socceraction.spadl.opta import OptaLoader

loader = OptaLoader(
    root="data", 
    parser='whoscored',
    feeds={'whoscored': "{competition_id}-{season_id}\game_{game_id}.json"})

In [3]:
games = loader.games(competition_id=2, season_id=2022)
players = loader.players(game_id=1549577)
teams = loader.teams(game_id=1549577)
events = loader.events(game_id=1549577)

In [4]:
games

,game_id,season_id,competition_id,game_day,game_date,home_team_id,away_team_id,home_score,away_score,attendance,venue,referee_id,duration
0,1549577,2022,2,0,2021-09-11 15:00:00,18,29,0,0,0,St. Mary's Stadium,150,97

In [5]:
players

,game_id,team_id,player_id,is_starter,player_name,age,height,weight,minutes_played,jersey_number,starting_position_id,starting_position_name
0,1549577,18,38577,True,Alex McCarthy,31,193.0,79.0,97,1,0,GK
1,1549577,18,415174,True,Valentino Livramento,18,0.0,0.0,97,21,0,DR
2,1549577,18,362357,True,Mohammed Salisu,22,191.0,82.0,97,22,0,DC
3,1549577,18,92550,True,Jack Stephens,27,185.0,75.0,97,5,0,DC
4,1549577,18,331466,True,Romain Perraud,23,173.0,68.0,97,15,0,DL
5,1549577,18,90780,True,Oriol Romeu,29,183.0,83.0,54,6,0,DMC
6,1549577,18,86425,True,Nathan Redmond,27,173.0,69.0,97,11,0,MR
7,1549577,18,141732,True,Mohamed Elyounoussi,27,178.0,70.0,97,24,0,MC
8,1549577,18,105172,True,James Ward-Prowse,26,173.0,66.0,97,8,0,MC
9,1549577,18,363676,True,Moussa Djenepo,23,177.0,65.0,97,19,0,ML
10,1549577,18,136460,True,Adam Armstrong,24,172.0,69.0,75,9,0,FW
11,1549577,18,357101,False,Ibrahima Diallo,22,179.0,68.0,43,27,0,Sub
12,1549577,18,393407,False,Armando Broja,20,191.0,0.0,22,18,0,Sub
13,1549577,18,284115,False,Lyanco,24,187.0,85.0,0,4,0,Sub
14,1549577,18,323791,False,Yan Valery,22,180.0,85.0,0,43,0,Sub
15,1549577,18,136742,False,Jan Bednarek,25,189.0,77.0,0,35,0,Sub
16,1549577,18,29796,False,Fraser Forster,33,201.0,93.0,0,44,0,Sub
17,1549577,18,313672,False,Kyle Walker-Peters,24,173.0,62.0,0,2,0,Sub
18,1549577,18,256419,False,Che Adams,25,175.0,70.0,0,10,0,Sub
19,1549577,18,395472,False,Nathan Tella,22,0.0,0.0,0,23,0,Sub
20,1549577,29,20973,True,Lukasz Fabianski,36,190.0,83.0,97,1,0,GK
21,1549577,29,111372,True,Vladimir Coufal,29,179.0,76.0,97,5,0,DR
22,1549577,29,23547,True,Angelo Ogbonna,33,191.0,86.0,97,21,0,DC
23,1549577,29,73063,True,Craig Dawson,31,188.0,82.0,97,15,0,DC
24,1549577,29,68049,True,Aaron Cresswell,31,170.0,66.0,97,3,0,DL
25,1549577,29,143595,True,Tomas Soucek,26,192.0,86.0,97,28,0,DMC
26,1549577,29,332325,True,Declan Rice,22,185.0,76.0,97,41,0,DMC
27,1549577,29,322596,True,Jarrod Bowen,24,175.0,70.0,84,20,0,AMR
28,1549577,29,137021,True,Said Benrahma,26,172.0,67.0,64,22,0,AMC
29,1549577,29,297203,True,Pablo Fornals,25,178.0,67.0,97,8,0,AML
30,1549577,29,69517,True,Michail Antonio,31,180.0,82.0,97,9,0,FW
31,1549577,29,343975,False,Nikola Vlasic,23,178.0,72.0,33,11,0,Sub
32,1549577,29,41672,False,Andriy Yarmolenko,31,189.0,81.0,13,7,0,Sub
33,1549577,29,89998,False,Manuel Lanzini,28,167.0,59.0,0,10,0,Sub
34,1549577,29,369861,False,Alex Kral,23,185.0,72.0,0,33,0,Sub
35,1549577,29,92516,False,Alphonse Areola,28,195.0,94.0,0,13,0,Sub
36,1549577,29,106086,False,Kurt Zouma,26,190.0,96.0,0,4,0,Sub
37,1549577,29,300359,False,Issa Diop,24,194.0,92.0,0,23,0,Sub
38,1549577,29,83554,False,Ryan Fredericks,28,181.0,74.0,0,24,0,Sub
39,1549577,29,8247,False,Mark Noble,34,180.0,70.0,0,16,0,Sub

In [6]:
teams

   team_id    team_name
0       18  Southampton
1       29     West Ham

In [7]:
events

,game_id,event_id,type_id,period_id,minute,second,timestamp,player_id,team_id,outcome,start_x,start_y,end_x,end_y,assist,keypass,qualifiers,type_name
0,1549577,2328212291,32,1,0,0,2021-09-11 15:00:00,0,29,True,0.0,0.0,0.0,0.0,False,False,{},start
1,1549577,2328212299,32,1,0,0,2021-09-11 15:00:00,0,18,True,0.0,0.0,0.0,0.0,False,False,{},start
2,1549577,2328212343,1,1,0,0,2021-09-11 15:00:00,137021,29,True,50.1,50.4,29.2,36.1,False,False,"{140: '29.2', 212: '24.0', 213: '3.6', 178: Tr...",pass
3,1549577,2328212371,1,1,0,2,2021-09-11 15:00:02,73063,29,False,30.2,35.4,71.2,28.6,False,False,"{155: True, 213: '6.2', 140: '71.2', 212: '43....",pass
4,1549577,2328212407,44,1,0,5,2021-09-11 15:00:05,362357,18,True,26.8,75.0,26.8,75.0,False,False,"{56: 'Back', 233: '5', 285: True}",aerial
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1537,1549577,2328441243,30,2,97,36,2021-09-11 16:37:36,0,29,True,0.0,0.0,0.0,0.0,False,False,{},end
1538,1549577,2328444597,30,14,7,0,2021-09-11 15:07:00,0,18,True,0.0,0.0,0.0,0.0,False,False,{},end
1539,1549577,2328444605,30,14,7,0,2021-09-11 15:07:00,0,29,True,0.0,0.0,0.0,0.0,False,False,{},end
1540,1549577,2328167033,34,16,0,0,2021-09-11 15:00:00,0,29,True,0.0,0.0,0.0,0.0,False,False,"{194: '332325', 59: '1, 5, 3, 41, 15, 21, 20, ...",team set up
1541,1549577,2328167047,34,16,0,0,2021-09-11 15:00:00,0,18,True,0.0,0.0,0.0,0.0,False,False,"{30: '38577,415174,331466,90780,92550,362357,8...",team set up

In [8]:
socceraction.spadl.opta.convert_to_actions(events,29)

,game_id,original_event_id,period_id,time_seconds,team_id,player_id,start_x,end_x,start_y,end_y,type_id,result_id,bodypart_id,action_id
0,1549577,2328212343,1,0.0,29,137021,52.605,30.660,34.272,24.548,0,1,0,0
1,1549577,2328212371,1,2.0,29,73063,31.710,74.760,24.072,19.448,0,0,0,1
2,1549577,2328212445,1,5.0,18,362357,79.905,78.435,14.484,4.828,0,1,0,2
3,1549577,2328212467,1,9.0,18,331466,78.435,61.215,4.964,23.528,0,0,0,3
4,1549577,2328212635,1,11.0,29,332325,63.000,76.230,21.828,20.060,0,1,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,1549577,NaN,2,3146.5,18,362357,44.730,35.490,19.176,4.624,21,1,0,1642
1643,1549577,2328440961,2,3149.0,18,362357,35.490,23.625,4.624,1.360,0,1,0,1643
1644,1549577,2328441007,2,3151.0,18,363676,23.205,5.775,1.700,13.600,0,1,0,1644
1645,1549577,2328441037,2,3153.0,18,331466,5.775,9.450,13.464,23.324,0,0,0,1645
1646,1549577,2328441099,2,3154.0,29,332325,8.820,8.820,26.112,26.112,18,1,0,1646

In [16]:
socceraction.spadl.config.actiontypes_df()

    type_id         type_name
0         0              pass
1         1             cross
2         2          throw_in
3         3  freekick_crossed
4         4    freekick_short
5         5    corner_crossed
6         6      corner_short
7         7           take_on
8         8              foul
9         9            tackle
10       10      interception
11       11              shot
12       12      shot_penalty
13       13     shot_freekick
14       14       keeper_save
15       15      keeper_claim
16       16      keeper_punch
17       17    keeper_pick_up
18       18         clearance
19       19         bad_touch
20       20        non_action
21       21           dribble
22       22          goalkick

In [9]:
events.type_name.unique()

array(['start', 'pass', 'aerial', 'ball recovery', 'foul',
       'shield ball opp', 'ball touch', 'interception', 'attempt saved',
       'save', 'keeper pick-up', 'take on', 'challenge', 'dispossessed',
       'tackle', 'blocked pass', 'clearance', 'card', 'miss',
       'corner awarded', 'claim', 'end', 'player off', 'player on', nan,
       'offside pass', 'offside provoked', 'post', 'team set up'],
      dtype=object)

## Burnley vs Man Utd

In [9]:
games1 = loader.games(competition_id=2, season_id=2021)
players1 = loader.players(game_id=1485184)
teams1 = loader.teams(game_id=14851847)
events1 = loader.events(game_id=1485184)

In [10]:
games1

,game_id,season_id,competition_id,game_day,game_date,home_team_id,away_team_id,home_score,away_score,attendance,venue,referee_id,duration
0,1485184,2021,2,0,2021-01-12 20:15:00,184,32,0,1,0,Turf Moor,120,102

In [11]:
players1

,game_id,team_id,player_id,is_starter,player_name,age,height,weight,minutes_played,jersey_number,starting_position_id,starting_position_name
0,1485184,184,105720,True,Nick Pope,29,191.0,76.0,102,1,0,GK
1,1485184,184,80067,True,Matthew Lowton,32,180.0,78.0,102,2,0,DR
2,1485184,184,94935,True,Ben Mee,31,180.0,74.0,102,6,0,DC
3,1485184,184,131464,True,James Tarkowski,28,185.0,81.0,102,5,0,DC
4,1485184,184,24148,True,Erik Pieters,33,183.0,84.0,102,23,0,DL
5,1485184,184,41868,True,Johann Gudmundsson,30,186.0,78.0,102,7,0,MR
6,1485184,184,79050,True,Ashley Westwood,31,175.0,80.0,102,18,0,MC
7,1485184,184,138929,True,Josh Brownhill,25,180.0,69.0,102,8,0,MC
8,1485184,184,93473,True,Robbie Brady,29,176.0,71.0,69,12,0,ML
9,1485184,184,73380,True,Chris Wood,29,191.0,81.0,84,9,0,FW
10,1485184,184,33386,True,Ashley Barnes,31,186.0,77.0,92,10,0,FW
11,1485184,184,84129,False,Matej Vydra,29,180.0,71.0,18,27,0,Sub
12,1485184,184,33891,False,Jay Rodriguez,32,185.0,84.0,10,19,0,Sub
13,1485184,184,357427,False,Dwight McNeil,21,183.0,68.0,33,11,0,Sub
14,1485184,184,74606,False,Kevin Long,31,188.0,83.0,0,28,0,Sub
15,1485184,184,22847,False,Jack Cork,32,183.0,70.0,0,4,0,Sub
16,1485184,184,24238,False,Dale Stephens,32,169.0,71.0,0,16,0,Sub
17,1485184,184,139866,False,Will Norris,28,195.0,74.0,0,25,0,Sub
18,1485184,184,18181,False,Phil Bardsley,36,180.0,74.0,0,26,0,Sub
19,1485184,184,369466,False,Josh Benson,21,175.0,0.0,0,41,0,Sub
20,1485184,32,79554,True,David de Gea,30,192.0,76.0,102,1,0,GK
21,1485184,32,331924,True,Aaron Wan-Bissaka,23,183.0,72.0,102,29,0,DR
22,1485184,32,99487,True,Harry Maguire,28,194.0,100.0,102,5,0,DC
23,1485184,32,243814,True,Eric Bailly,27,187.0,77.0,102,3,0,DC
24,1485184,32,118244,True,Luke Shaw,26,185.0,75.0,102,23,0,DL
25,1485184,32,97752,True,Paul Pogba,28,191.0,84.0,102,6,0,DMC
26,1485184,32,38128,True,Nemanja Matic,33,194.0,85.0,102,31,0,DMC
27,1485184,32,300299,True,Marcus Rashford,23,180.0,70.0,84,10,0,AMR
28,1485184,32,123761,True,Bruno Fernandes,27,179.0,69.0,93,18,0,AMC
29,1485184,32,122366,True,Anthony Martial,25,181.0,76.0,99,9,0,AML
30,1485184,32,24328,True,Edinson Cavani,34,184.0,71.0,102,7,0,FW
31,1485184,32,299271,False,Axel Tuanzebe,23,186.0,75.0,3,38,0,Sub
32,1485184,32,367782,False,Mason Greenwood,19,181.0,70.0,18,11,0,Sub
33,1485184,32,336915,False,Scott McTominay,24,193.0,88.0,9,39,0,Sub
34,1485184,32,114397,False,Fred,28,169.0,64.0,0,17,0,Sub
35,1485184,32,125793,False,Alex Telles,28,181.0,71.0,0,27,0,Sub
36,1485184,32,275035,False,Donny van de Beek,24,184.0,76.0,0,34,0,Sub
37,1485184,32,25363,False,Juan Mata,33,170.0,63.0,0,8,0,Sub
38,1485184,32,304008,False,Dean Henderson,24,188.0,85.0,0,26,0,Sub
39,1485184,32,302313,False,Daniel James,23,171.0,76.0,0,21,0,Sub

In [12]:
events1

,game_id,event_id,type_id,period_id,minute,second,timestamp,player_id,team_id,outcome,start_x,start_y,end_x,end_y,assist,keypass,qualifiers,type_name
0,1485184,2253487473,32,1,0,0,2021-01-12 20:15:00,0,32,True,0.0,0.0,0.0,0.0,False,False,{},start
1,1485184,2253487469,32,1,0,0,2021-01-12 20:15:00,0,184,True,0.0,0.0,0.0,0.0,False,False,{},start
2,1485184,2253487625,1,1,0,0,2021-01-12 20:15:00,79050,184,True,50.3,50.3,30.5,50.3,False,False,"{213: '3.1', 178: True, 141: '50.3', 212: '20....",pass
3,1485184,2253487639,1,1,0,2,2021-01-12 20:15:02,131464,184,True,29.6,53.4,36.4,23.3,False,False,"{178: True, 213: '5.0', 212: '21.7', 141: '23....",pass
4,1485184,2253487685,1,1,0,7,2021-01-12 20:15:07,80067,184,True,41.3,18.4,86.0,73.1,False,False,"{1: True, 213: '0.7', 56: 'Center', 178: True,...",pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1546,1485184,2253526431,30,2,102,25,2021-01-12 21:57:25,0,184,True,0.0,0.0,0.0,0.0,False,False,{},end
1547,1485184,2253526443,30,14,12,0,2021-01-12 20:27:00,0,184,True,0.0,0.0,0.0,0.0,False,False,{},end
1548,1485184,2253526445,30,14,12,0,2021-01-12 20:27:00,0,32,True,0.0,0.0,0.0,0.0,False,False,{},end
1549,1485184,2253458317,34,16,0,0,2021-01-12 20:15:00,0,184,True,0.0,0.0,0.0,0.0,False,False,"{131: '1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0...",team set up
1550,1485184,2253458375,34,16,0,0,2021-01-12 20:15:00,0,32,True,0.0,0.0,0.0,0.0,False,False,"{194: '99487', 131: '1, 2, 3, 4, 5, 6, 7, 8, 9...",team set up

In [13]:
events1.iloc[1254:1280][['minute','second','start_x','start_y','end_x','end_y','type_name','outcome','player_id']]

,minute,second,start_x,start_y,end_x,end_y,type_name,outcome,player_id
1254,80,38,85.8,0.0,93.1,7.1,pass,True,80067
1255,80,39,93.1,7.1,90.4,3.2,pass,True,41868
1256,80,41,90.4,3.2,94.3,41.3,pass,False,80067
1257,80,42,6.7,55.8,39.7,77.2,clearance,True,97752
1258,80,45,63.8,26.6,63.8,26.6,ball touch,False,131464
1259,80,45,39.7,77.2,39.7,77.2,ball touch,False,24328
1260,80,49,54.2,31.6,58.6,40.3,pass,True,94935
1261,80,51,57.9,45.8,62.6,90.0,pass,True,138929
1262,80,54,65.1,86.7,70.0,77.3,pass,True,357427
1263,80,55,70.0,77.3,75.3,95.6,pass,True,73380
1264,80,59,72.0,95.3,66.3,96.8,pass,True,357427
1265,81,0,66.3,96.8,53.8,90.5,pass,True,24148
1266,81,3,53.8,90.5,59.8,52.5,pass,True,138929
1267,81,5,56.0,46.6,67.3,4.0,pass,True,79050
1268,81,9,69.3,5.0,89.6,45.4,pass,False,80067
1269,81,10,10.3,55.8,24.5,50.7,clearance,True,99487
1270,81,12,73.8,55.5,81.4,37.0,pass,True,79050
1271,81,13,81.4,37.0,92.7,52.7,pass,False,41868
1272,81,14,6.8,48.5,28.9,62.0,clearance,True,243814
1273,81,16,71.1,37.3,78.7,12.8,pass,True,138929
1274,81,19,80.9,10.1,96.9,51.2,pass,False,80067
1275,81,21,5.8,50.4,5.8,50.4,keeper pick-up,True,79554
1276,81,24,11.1,47.0,25.5,26.1,pass,True,79554
1277,81,26,25.5,26.1,32.9,16.1,pass,True,123761
1278,81,35,62.0,46.6,57.2,87.8,pass,True,122366
1279,81,38,57.2,87.8,65.2,94.5,pass,True,118244

In [14]:
players1

,game_id,team_id,player_id,is_starter,player_name,age,height,weight,minutes_played,jersey_number,starting_position_id,starting_position_name
0,1485184,184,105720,True,Nick Pope,29,191.0,76.0,102,1,0,GK
1,1485184,184,80067,True,Matthew Lowton,32,180.0,78.0,102,2,0,DR
2,1485184,184,94935,True,Ben Mee,31,180.0,74.0,102,6,0,DC
3,1485184,184,131464,True,James Tarkowski,28,185.0,81.0,102,5,0,DC
4,1485184,184,24148,True,Erik Pieters,33,183.0,84.0,102,23,0,DL
5,1485184,184,41868,True,Johann Gudmundsson,30,186.0,78.0,102,7,0,MR
6,1485184,184,79050,True,Ashley Westwood,31,175.0,80.0,102,18,0,MC
7,1485184,184,138929,True,Josh Brownhill,25,180.0,69.0,102,8,0,MC
8,1485184,184,93473,True,Robbie Brady,29,176.0,71.0,69,12,0,ML
9,1485184,184,73380,True,Chris Wood,29,191.0,81.0,84,9,0,FW
10,1485184,184,33386,True,Ashley Barnes,31,186.0,77.0,92,10,0,FW
11,1485184,184,84129,False,Matej Vydra,29,180.0,71.0,18,27,0,Sub
12,1485184,184,33891,False,Jay Rodriguez,32,185.0,84.0,10,19,0,Sub
13,1485184,184,357427,False,Dwight McNeil,21,183.0,68.0,33,11,0,Sub
14,1485184,184,74606,False,Kevin Long,31,188.0,83.0,0,28,0,Sub
15,1485184,184,22847,False,Jack Cork,32,183.0,70.0,0,4,0,Sub
16,1485184,184,24238,False,Dale Stephens,32,169.0,71.0,0,16,0,Sub
17,1485184,184,139866,False,Will Norris,28,195.0,74.0,0,25,0,Sub
18,1485184,184,18181,False,Phil Bardsley,36,180.0,74.0,0,26,0,Sub
19,1485184,184,369466,False,Josh Benson,21,175.0,0.0,0,41,0,Sub
20,1485184,32,79554,True,David de Gea,30,192.0,76.0,102,1,0,GK
21,1485184,32,331924,True,Aaron Wan-Bissaka,23,183.0,72.0,102,29,0,DR
22,1485184,32,99487,True,Harry Maguire,28,194.0,100.0,102,5,0,DC
23,1485184,32,243814,True,Eric Bailly,27,187.0,77.0,102,3,0,DC
24,1485184,32,118244,True,Luke Shaw,26,185.0,75.0,102,23,0,DL
25,1485184,32,97752,True,Paul Pogba,28,191.0,84.0,102,6,0,DMC
26,1485184,32,38128,True,Nemanja Matic,33,194.0,85.0,102,31,0,DMC
27,1485184,32,300299,True,Marcus Rashford,23,180.0,70.0,84,10,0,AMR
28,1485184,32,123761,True,Bruno Fernandes,27,179.0,69.0,93,18,0,AMC
29,1485184,32,122366,True,Anthony Martial,25,181.0,76.0,99,9,0,AML
30,1485184,32,24328,True,Edinson Cavani,34,184.0,71.0,102,7,0,FW
31,1485184,32,299271,False,Axel Tuanzebe,23,186.0,75.0,3,38,0,Sub
32,1485184,32,367782,False,Mason Greenwood,19,181.0,70.0,18,11,0,Sub
33,1485184,32,336915,False,Scott McTominay,24,193.0,88.0,9,39,0,Sub
34,1485184,32,114397,False,Fred,28,169.0,64.0,0,17,0,Sub
35,1485184,32,125793,False,Alex Telles,28,181.0,71.0,0,27,0,Sub
36,1485184,32,275035,False,Donny van de Beek,24,184.0,76.0,0,34,0,Sub
37,1485184,32,25363,False,Juan Mata,33,170.0,63.0,0,8,0,Sub
38,1485184,32,304008,False,Dean Henderson,24,188.0,85.0,0,26,0,Sub
39,1485184,32,302313,False,Daniel James,23,171.0,76.0,0,21,0,Sub

In [15]:
events1.sort_values('timestamp').reset_index().iloc[1260:1280][['minute','second','start_x','start_y','end_x','end_y','type_name','outcome','player_id']]

,minute,second,start_x,start_y,end_x,end_y,type_name,outcome,player_id
1260,80,41,90.4,3.2,94.3,41.3,pass,False,80067
1261,80,42,6.7,55.8,39.7,77.2,clearance,True,97752
1262,80,45,63.8,26.6,63.8,26.6,ball touch,False,131464
1263,80,45,39.7,77.2,39.7,77.2,ball touch,False,24328
1264,80,49,54.2,31.6,58.6,40.3,pass,True,94935
1265,80,51,57.9,45.8,62.6,90.0,pass,True,138929
1266,80,54,65.1,86.7,70.0,77.3,pass,True,357427
1267,80,55,70.0,77.3,75.3,95.6,pass,True,73380
1268,80,59,72.0,95.3,66.3,96.8,pass,True,357427
1269,81,0,66.3,96.8,53.8,90.5,pass,True,24148
1270,81,3,53.8,90.5,59.8,52.5,pass,True,138929
1271,81,5,56.0,46.6,67.3,4.0,pass,True,79050
1272,81,9,69.3,5.0,89.6,45.4,pass,False,80067
1273,81,10,10.3,55.8,24.5,50.7,clearance,True,99487
1274,81,12,73.8,55.5,81.4,37.0,pass,True,79050
1275,81,13,81.4,37.0,92.7,52.7,pass,False,41868
1276,81,14,6.8,48.5,28.9,62.0,clearance,True,243814
1277,81,16,71.1,37.3,78.7,12.8,pass,True,138929
1278,81,19,80.9,10.1,96.9,51.2,pass,False,80067
1279,81,21,5.8,50.4,5.8,50.4,keeper pick-up,True,79554

In [17]:
df_spadl = socceraction.spadl.opta.convert_to_actions(events1,184)

In [31]:
for x in df_spadl['player_id']:
    print(x,players1[players1.player_id==x]['player_name'].values[0])

79050 Ashley Westwood
131464 James Tarkowski
80067 Matthew Lowton
80067 Matthew Lowton
93473 Robbie Brady
79554 David de Gea
123761 Bruno Fernandes
93473 Robbie Brady
138929 Josh Brownhill
138929 Josh Brownhill
93473 Robbie Brady
93473 Robbie Brady
38128 Nemanja Matic
24148 Erik Pieters
73380 Chris Wood
243814 Eric Bailly
94935 Ben Mee
97752 Paul Pogba
73380 Chris Wood
122366 Anthony Martial
118244 Luke Shaw
118244 Luke Shaw
99487 Harry Maguire
99487 Harry Maguire
131464 James Tarkowski
97752 Paul Pogba
331924 Aaron Wan-Bissaka
300299 Marcus Rashford
24148 Erik Pieters
123761 Bruno Fernandes
331924 Aaron Wan-Bissaka
243814 Eric Bailly
331924 Aaron Wan-Bissaka
243814 Eric Bailly
79554 David de Gea
93473 Robbie Brady
123761 Bruno Fernandes
243814 Eric Bailly
243814 Eric Bailly
99487 Harry Maguire
99487 Harry Maguire
243814 Eric Bailly
99487 Harry Maguire
138929 Josh Brownhill
79050 Ashley Westwood
118244 Luke Shaw
41868 Johann Gudmundsson
41868 Johann Gudmundsson
41868 Johann Gudmundsson
99487 Harry Maguire
300299 Marcus Rashford
300299 Marcus Rashford
123761 Bruno Fernandes
131464 James Tarkowski
73380 Chris Wood
97752 Paul Pogba
138929 Josh Brownhill
79050 Ashley Westwood
41868 Johann Gudmundsson
79050 Ashley Westwood
80067 Matthew Lowton
79050 Ashley Westwood
99487 Harry Maguire
80067 Matthew Lowton
99487 Harry Maguire
97752 Paul Pogba
118244 Luke Shaw
122366 Anthony Martial
118244 Luke Shaw
99487 Harry Maguire
97752 Paul Pogba
243814 Eric Bailly
243814 Eric Bailly
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
123761 Bruno Fernandes
93473 Robbie Brady
331924 Aaron Wan-Bissaka
123761 Bruno Fernandes
331924 Aaron Wan-Bissaka
93473 Robbie Brady
94935 Ben Mee
105720 Nick Pope
118244 Luke Shaw
38128 Nemanja Matic
122366 Anthony Martial
122366 Anthony Martial
97752 Paul Pogba
122366 Anthony Martial
97752 Paul Pogba
38128 Nemanja Matic
38128 Nemanja Matic
243814 Eric Bailly
243814 Eric Bailly
99487 Harry Maguire
99487 Harry Maguire
118244 Luke Shaw
118244 Luke Shaw
122366 Anthony Martial
122366 Anthony Martial
38128 Nemanja Matic
118244 Luke Shaw
122366 Anthony Martial
122366 Anthony Martial
105720 Nick Pope
80067 Matthew Lowton
80067 Matthew Lowton
105720 Nick Pope
105720 Nick Pope
73380 Chris Wood
99487 Harry Maguire
138929 Josh Brownhill
93473 Robbie Brady
93473 Robbie Brady
24148 Erik Pieters
138929 Josh Brownhill
79050 Ashley Westwood
79050 Ashley Westwood
80067 Matthew Lowton
80067 Matthew Lowton
41868 Johann Gudmundsson
41868 Johann Gudmundsson
331924 Aaron Wan-Bissaka
33386 Ashley Barnes
79554 David de Gea
38128 Nemanja Matic
118244 Luke Shaw
122366 Anthony Martial
41868 Johann Gudmundsson
80067 Matthew Lowton
33386 Ashley Barnes
97752 Paul Pogba
118244 Luke Shaw
118244 Luke Shaw
122366 Anthony Martial
97752 Paul Pogba
105720 Nick Pope
105720 Nick Pope
131464 James Tarkowski
94935 Ben Mee
24148 Erik Pieters
24148 Erik Pieters
79050 Ashley Westwood
24148 Erik Pieters
93473 Robbie Brady
79050 Ashley Westwood
24148 Erik Pieters
94935 Ben Mee
79050 Ashley Westwood
24148 Erik Pieters
24148 Erik Pieters
24148 Erik Pieters
97752 Paul Pogba
243814 Eric Bailly
99487 Harry Maguire
99487 Harry Maguire
243814 Eric Bailly
99487 Harry Maguire
38128 Nemanja Matic
38128 Nemanja Matic
118244 Luke Shaw
118244 Luke Shaw
105720 Nick Pope
73380 Chris Wood
33386 Ashley Barnes
93473 Robbie Brady
93473 Robbie Brady
243814 Eric Bailly
123761 Bruno Fernandes
123761 Bruno Fernandes
300299 Marcus Rashford
243814 Eric Bailly
24328 Edinson Cavani
94935 Ben Mee
99487 Harry Maguire
24148 Erik Pieters
93473 Robbie Brady
93473 Robbie Brady
138929 Josh Brownhill
94935 Ben Mee
138929 Josh Brownhill
243814 Eric Bailly
24148 Erik Pieters
243814 Eric Bailly
131464 James Tarkowski
94935 Ben Mee
94935 Ben Mee
243814 Eric Bailly
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
300299 Marcus Rashford
300299 Marcus Rashford
97752 Paul Pogba
118244 Luke Shaw
118244 Luke Shaw
38128 Nemanja Matic
38128 Nemanja Matic
99487 Harry Maguire
97752 Paul Pogba
243814 Eric Bailly
123761 Bruno Fernandes
300299 Marcus Rashford
300299 Marcus Rashford
94935 Ben Mee
94935 Ben Mee
24148 Erik Pieters
105720 Nick Pope
97752 Paul Pogba
79050 Ashley Westwood
331924 Aaron Wan-Bissaka
93473 Robbie Brady
118244 Luke Shaw
80067 Matthew Lowton
99487 Harry Maguire
94935 Ben Mee
79554 David de Gea
94935 Ben Mee
123761 Bruno Fernandes
93473 Robbie Brady
41868 Johann Gudmundsson
41868 Johann Gudmundsson
41868 Johann Gudmundsson
99487 Harry Maguire
38128 Nemanja Matic
122366 Anthony Martial
122366 Anthony Martial
99487 Harry Maguire
243814 Eric Bailly
99487 Harry Maguire
38128 Nemanja Matic
99487 Harry Maguire
99487 Harry Maguire
118244 Luke Shaw
38128 Nemanja Matic
38128 Nemanja Matic
118244 Luke Shaw
131464 James Tarkowski
99487 Harry Maguire
97752 Paul Pogba
99487 Harry Maguire
99487 Harry Maguire
97752 Paul Pogba
79554 David de Gea
243814 Eric Bailly
243814 Eric Bailly
300299 Marcus Rashford
138929 Josh Brownhill
41868 Johann Gudmundsson
118244 Luke Shaw
99487 Harry Maguire
99487 Harry Maguire
38128 Nemanja Matic
243814 Eric Bailly
243814 Eric Bailly
331924 Aaron Wan-Bissaka
24148 Erik Pieters
123761 Bruno Fernandes
131464 James Tarkowski
97752 Paul Pogba
118244 Luke Shaw
93473 Robbie Brady
118244 Luke Shaw
300299 Marcus Rashford
97752 Paul Pogba
300299 Marcus Rashford
38128 Nemanja Matic
38128 Nemanja Matic
300299 Marcus Rashford
123761 Bruno Fernandes
38128 Nemanja Matic
118244 Luke Shaw
118244 Luke Shaw
123761 Bruno Fernandes
105720 Nick Pope
105720 Nick Pope
105720 Nick Pope
243814 Eric Bailly
93473 Robbie Brady
79554 David de Gea
79554 David de Gea
79554 David de Gea
123761 Bruno Fernandes
123761 Bruno Fernandes
331924 Aaron Wan-Bissaka
97752 Paul Pogba
97752 Paul Pogba
99487 Harry Maguire
118244 Luke Shaw
122366 Anthony Martial
122366 Anthony Martial
99487 Harry Maguire
38128 Nemanja Matic
38128 Nemanja Matic
118244 Luke Shaw
118244 Luke Shaw
99487 Harry Maguire
105720 Nick Pope
105720 Nick Pope
105720 Nick Pope
99487 Harry Maguire
24148 Erik Pieters
243814 Eric Bailly
97752 Paul Pogba
38128 Nemanja Matic
123761 Bruno Fernandes
123761 Bruno Fernandes
243814 Eric Bailly
99487 Harry Maguire
99487 Harry Maguire
118244 Luke Shaw
118244 Luke Shaw
94935 Ben Mee
80067 Matthew Lowton
33386 Ashley Barnes
118244 Luke Shaw
38128 Nemanja Matic
38128 Nemanja Matic
24328 Edinson Cavani
38128 Nemanja Matic
300299 Marcus Rashford
300299 Marcus Rashford
300299 Marcus Rashford
300299 Marcus Rashford
123761 Bruno Fernandes
122366 Anthony Martial
80067 Matthew Lowton
79050 Ashley Westwood
79050 Ashley Westwood
38128 Nemanja Matic
105720 Nick Pope
33386 Ashley Barnes
243814 Eric Bailly
93473 Robbie Brady
33386 Ashley Barnes
93473 Robbie Brady
93473 Robbie Brady
24148 Erik Pieters
94935 Ben Mee
131464 James Tarkowski
79050 Ashley Westwood
80067 Matthew Lowton
80067 Matthew Lowton
79554 David de Gea
99487 Harry Maguire
99487 Harry Maguire
38128 Nemanja Matic
123761 Bruno Fernandes
80067 Matthew Lowton
99487 Harry Maguire
118244 Luke Shaw
38128 Nemanja Matic
123761 Bruno Fernandes
80067 Matthew Lowton
41868 Johann Gudmundsson
79050 Ashley Westwood
73380 Chris Wood
79050 Ashley Westwood
33386 Ashley Barnes
73380 Chris Wood
73380 Chris Wood
243814 Eric Bailly
79050 Ashley Westwood
131464 James Tarkowski
79554 David de Gea
79050 Ashley Westwood
93473 Robbie Brady
73380 Chris Wood
97752 Paul Pogba
38128 Nemanja Matic
38128 Nemanja Matic
123761 Bruno Fernandes
300299 Marcus Rashford
138929 Josh Brownhill
123761 Bruno Fernandes
24148 Erik Pieters
33386 Ashley Barnes
33386 Ashley Barnes
331924 Aaron Wan-Bissaka
79050 Ashley Westwood
123761 Bruno Fernandes
38128 Nemanja Matic
122366 Anthony Martial
122366 Anthony Martial
105720 Nick Pope
97752 Paul Pogba
24328 Edinson Cavani
123761 Bruno Fernandes
24148 Erik Pieters
94935 Ben Mee
73380 Chris Wood
79050 Ashley Westwood
118244 Luke Shaw
79050 Ashley Westwood
97752 Paul Pogba
80067 Matthew Lowton
97752 Paul Pogba
138929 Josh Brownhill
94935 Ben Mee
331924 Aaron Wan-Bissaka
41868 Johann Gudmundsson
131464 James Tarkowski
131464 James Tarkowski
33386 Ashley Barnes
243814 Eric Bailly
97752 Paul Pogba
118244 Luke Shaw
118244 Luke Shaw
93473 Robbie Brady
79554 David de Gea
94935 Ben Mee
97752 Paul Pogba
123761 Bruno Fernandes
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
33386 Ashley Barnes
33386 Ashley Barnes
33386 Ashley Barnes
93473 Robbie Brady
38128 Nemanja Matic
38128 Nemanja Matic
300299 Marcus Rashford
300299 Marcus Rashford
38128 Nemanja Matic
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
38128 Nemanja Matic
118244 Luke Shaw
97752 Paul Pogba
99487 Harry Maguire
97752 Paul Pogba
97752 Paul Pogba
122366 Anthony Martial
80067 Matthew Lowton
122366 Anthony Martial
131464 James Tarkowski
243814 Eric Bailly
99487 Harry Maguire
79554 David de Gea
79554 David de Gea
79554 David de Gea
38128 Nemanja Matic
243814 Eric Bailly
243814 Eric Bailly
300299 Marcus Rashford
331924 Aaron Wan-Bissaka
243814 Eric Bailly
243814 Eric Bailly
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
97752 Paul Pogba
118244 Luke Shaw
118244 Luke Shaw
123761 Bruno Fernandes
123761 Bruno Fernandes
131464 James Tarkowski
123761 Bruno Fernandes
300299 Marcus Rashford
123761 Bruno Fernandes
118244 Luke Shaw
41868 Johann Gudmundsson
38128 Nemanja Matic
93473 Robbie Brady
300299 Marcus Rashford
118244 Luke Shaw
99487 Harry Maguire
105720 Nick Pope
94935 Ben Mee
94935 Ben Mee
93473 Robbie Brady
93473 Robbie Brady
123761 Bruno Fernandes
97752 Paul Pogba
97752 Paul Pogba
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
24148 Erik Pieters
331924 Aaron Wan-Bissaka
38128 Nemanja Matic
331924 Aaron Wan-Bissaka
123761 Bruno Fernandes
118244 Luke Shaw
118244 Luke Shaw
38128 Nemanja Matic
243814 Eric Bailly
243814 Eric Bailly
300299 Marcus Rashford
300299 Marcus Rashford
300299 Marcus Rashford
300299 Marcus Rashford
123761 Bruno Fernandes
300299 Marcus Rashford
122366 Anthony Martial
122366 Anthony Martial
79050 Ashley Westwood
99487 Harry Maguire
97752 Paul Pogba
97752 Paul Pogba
80067 Matthew Lowton
138929 Josh Brownhill
97752 Paul Pogba
123761 Bruno Fernandes
123761 Bruno Fernandes
97752 Paul Pogba
24328 Edinson Cavani
94935 Ben Mee
138929 Josh Brownhill
123761 Bruno Fernandes
300299 Marcus Rashford
123761 Bruno Fernandes
99487 Harry Maguire
105720 Nick Pope
331924 Aaron Wan-Bissaka
93473 Robbie Brady
99487 Harry Maguire
41868 Johann Gudmundsson
300299 Marcus Rashford
331924 Aaron Wan-Bissaka
79050 Ashley Westwood
300299 Marcus Rashford
97752 Paul Pogba
99487 Harry Maguire
99487 Harry Maguire
118244 Luke Shaw
118244 Luke Shaw
38128 Nemanja Matic
38128 Nemanja Matic
331924 Aaron Wan-Bissaka
300299 Marcus Rashford
331924 Aaron Wan-Bissaka
38128 Nemanja Matic
38128 Nemanja Matic
24328 Edinson Cavani
79050 Ashley Westwood
122366 Anthony Martial
123761 Bruno Fernandes
105720 Nick Pope
33386 Ashley Barnes
33386 Ashley Barnes

33386 Ashley Barnes
38128 Nemanja Matic
97752 Paul Pogba
38128 Nemanja Matic
38128 Nemanja Matic
138929 Josh Brownhill
41868 Johann Gudmundsson
41868 Johann Gudmundsson
73380 Chris Wood
138929 Josh Brownhill
138929 Josh Brownhill
131464 James Tarkowski
80067 Matthew Lowton
118244 Luke Shaw
122366 Anthony Martial
38128 Nemanja Matic
24328 Edinson Cavani
122366 Anthony Martial
105720 Nick Pope
105720 Nick Pope
105720 Nick Pope
80067 Matthew Lowton
80067 Matthew Lowton
33386 Ashley Barnes
93473 Robbie Brady
93473 Robbie Brady
123761 Bruno Fernandes
300299 Marcus Rashford
123761 Bruno Fernandes
97752 Paul Pogba
38128 Nemanja Matic
38128 Nemanja Matic
118244 Luke Shaw
118244 Luke Shaw
97752 Paul Pogba
38128 Nemanja Matic
243814 Eric Bailly
243814 Eric Bailly
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
123761 Bruno Fernandes
243814 Eric Bailly
243814 Eric Bailly
300299 Marcus Rashford
300299 Marcus Rashford
123761 Bruno Fernandes
123761 Bruno Fernandes
97752 Paul Pogba
97752 Paul Pogba
118244 Luke Shaw
97752 Paul Pogba
122366 Anthony Martial
97752 Paul Pogba
94935 Ben Mee
93473 Robbie Brady
38128 Nemanja Matic
118244 Luke Shaw
38128 Nemanja Matic
99487 Harry Maguire
243814 Eric Bailly
243814 Eric Bailly
97752 Paul Pogba
97752 Paul Pogba
118244 Luke Shaw
118244 Luke Shaw
24328 Edinson Cavani
24328 Edinson Cavani
122366 Anthony Martial
122366 Anthony Martial
105720 Nick Pope
118244 Luke Shaw
300299 Marcus Rashford
123761 Bruno Fernandes
118244 Luke Shaw
97752 Paul Pogba
300299 Marcus Rashford
123761 Bruno Fernandes
300299 Marcus Rashford
123761 Bruno Fernandes
300299 Marcus Rashford
300299 Marcus Rashford
138929 Josh Brownhill
33386 Ashley Barnes
33386 Ashley Barnes
243814 Eric Bailly
123761 Bruno Fernandes
300299 Marcus Rashford
24328 Edinson Cavani
97752 Paul Pogba
123761 Bruno Fernandes
118244 Luke Shaw
118244 Luke Shaw
300299 Marcus Rashford
24148 Erik Pieters
105720 Nick Pope
105720 Nick Pope
105720 Nick Pope
93473 Robbie Brady
93473 Robbie Brady
243814 Eric Bailly
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
243814 Eric Bailly
24148 Erik Pieters
79050 Ashley Westwood
24148 Erik Pieters
79050 Ashley Westwood
138929 Josh Brownhill
123761 Bruno Fernandes
97752 Paul Pogba
97752 Paul Pogba
38128 Nemanja Matic
38128 Nemanja Matic
118244 Luke Shaw
118244 Luke Shaw
93473 Robbie Brady
138929 Josh Brownhill
94935 Ben Mee
24148 Erik Pieters
94935 Ben Mee
105720 Nick Pope
33386 Ashley Barnes
331924 Aaron Wan-Bissaka
243814 Eric Bailly
243814 Eric Bailly
99487 Harry Maguire
118244 Luke Shaw
99487 Harry Maguire
99487 Harry Maguire
38128 Nemanja Matic
38128 Nemanja Matic
300299 Marcus Rashford
300299 Marcus Rashford
99487 Harry Maguire
99487 Harry Maguire
118244 Luke Shaw
118244 Luke Shaw
122366 Anthony Martial
122366 Anthony Martial
97752 Paul Pogba
97752 Paul Pogba
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
123761 Bruno Fernandes
118244 Luke Shaw
118244 Luke Shaw
99487 Harry Maguire
123761 Bruno Fernandes
99487 Harry Maguire
24328 Edinson Cavani
118244 Luke Shaw
41868 Johann Gudmundsson
41868 Johann Gudmundsson
41868 Johann Gudmundsson
118244 Luke Shaw
80067 Matthew Lowton
138929 Josh Brownhill
99487 Harry Maguire
80067 Matthew Lowton
138929 Josh Brownhill
80067 Matthew Lowton
79050 Ashley Westwood
33386 Ashley Barnes
138929 Josh Brownhill
138929 Josh Brownhill
99487 Harry Maguire
122366 Anthony Martial
97752 Paul Pogba
123761 Bruno Fernandes
97752 Paul Pogba
97752 Paul Pogba
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
123761 Bruno Fernandes
97752 Paul Pogba
243814 Eric Bailly
123761 Bruno Fernandes
97752 Paul Pogba
243814 Eric Bailly
243814 Eric Bailly
97752 Paul Pogba
122366 Anthony Martial
24328 Edinson Cavani
118244 Luke Shaw
122366 Anthony Martial
131464 James Tarkowski
79050 Ashley Westwood
33386 Ashley Barnes
99487 Harry Maguire
79554 David de Gea
243814 Eric Bailly
243814 Eric Bailly
79554 David de Gea
24148 Erik Pieters
24328 Edinson Cavani
24328 Edinson Cavani
24328 Edinson Cavani
97752 Paul Pogba
38128 Nemanja Matic
38128 Nemanja Matic
122366 Anthony Martial
122366 Anthony Martial
80067 Matthew Lowton
79050 Ashley Westwood
80067 Matthew Lowton
118244 Luke Shaw
38128 Nemanja Matic
38128 Nemanja Matic
118244 Luke Shaw
122366 Anthony Martial
38128 Nemanja Matic
97752 Paul Pogba
331924 Aaron Wan-Bissaka
300299 Marcus Rashford
331924 Aaron Wan-Bissaka
300299 Marcus Rashford
123761 Bruno Fernandes
97752 Paul Pogba
94935 Ben Mee
73380 Chris Wood
243814 Eric Bailly
300299 Marcus Rashford
300299 Marcus Rashford
97752 Paul Pogba
97752 Paul Pogba
118244 Luke Shaw
122366 Anthony Martial
118244 Luke Shaw
118244 Luke Shaw
123761 Bruno Fernandes
123761 Bruno Fernandes
94935 Ben Mee
331924 Aaron Wan-Bissaka
300299 Marcus Rashford
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
123761 Bruno Fernandes
331924 Aaron Wan-Bissaka
105720 Nick Pope
331924 Aaron Wan-Bissaka
73380 Chris Wood
93473 Robbie Brady
73380 Chris Wood
73380 Chris Wood
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
73380 Chris Wood
93473 Robbie Brady
97752 Paul Pogba
24148 Erik Pieters
73380 Chris Wood
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
24148 Erik Pieters
123761 Bruno Fernandes
93473 Robbie Brady
79554 David de Gea
79554 David de Gea
79554 David de Gea
118244 Luke Shaw
118244 Luke Shaw
99487 Harry Maguire
99487 Harry Maguire
243814 Eric Bailly
79554 David de Gea
94935 Ben Mee
138929 Josh Brownhill
138929 Josh Brownhill
79050 Ashley Westwood
41868 Johann Gudmundsson
73380 Chris Wood
33386 Ashley Barnes
33386 Ashley Barnes
79554 David de Gea
79554 David de Gea
79554 David de Gea
97752 Paul Pogba
97752 Paul Pogba
97752 Paul Pogba
97752 Paul Pogba
123761 Bruno Fernandes
123761 Bruno Fernandes
122366 Anthony Martial
24328 Edinson Cavani
24328 Edinson Cavani
105720 Nick Pope
105720 Nick Pope
105720 Nick Pope
105720 Nick Pope
243814 Eric Bailly
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
97752 Paul Pogba
97752 Paul Pogba
94935 Ben Mee
93473 Robbie Brady
24148 Erik Pieters
331924 Aaron Wan-Bissaka
24148 Erik Pieters
138929 Josh Brownhill
24148 Erik Pieters
94935 Ben Mee
243814 Eric Bailly
79050 Ashley Westwood
105720 Nick Pope
105720 Nick Pope
118244 Luke Shaw
38128 Nemanja Matic
38128 Nemanja Matic
41868 Johann Gudmundsson
80067 Matthew Lowton
33386 Ashley Barnes
80067 Matthew Lowton
80067 Matthew Lowton
331924 Aaron Wan-Bissaka
97752 Paul Pogba
97752 Paul Pogba
38128 Nemanja Matic
38128 Nemanja Matic
118244 Luke Shaw
99487 Harry Maguire
33386 Ashley Barnes
38128 Nemanja Matic
118244 Luke Shaw
38128 Nemanja Matic
38128 Nemanja Matic
123761 Bruno Fernandes
123761 Bruno Fernandes
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
300299 Marcus Rashford
300299 Marcus Rashford
105720 Nick Pope
105720 Nick Pope
33386 Ashley Barnes
243814 Eric Bailly
138929 Josh Brownhill
243814 Eric Bailly
331924 Aaron Wan-Bissaka
123761 Bruno Fernandes
300299 Marcus Rashford
300299 Marcus Rashford
123761 Bruno Fernandes
94935 Ben Mee
24148 Erik Pieters
24148 Erik Pieters
93473 Robbie Brady
93473 Robbie Brady
94935 Ben Mee
94935 Ben Mee
38128 Nemanja Matic
24148 Erik Pieters
138929 Josh Brownhill
38128 Nemanja Matic
122366 Anthony Martial
118244 Luke Shaw
118244 Luke Shaw
97752 Paul Pogba
118244 Luke Shaw
118244 Luke Shaw
99487 Harry Maguire
99487 Harry Maguire
243814 Eric Bailly
243814 Eric Bailly
331924 Aaron Wan-Bissaka
300299 Marcus Rashford
300299 Marcus Rashford
243814 Eric Bailly
97752 Paul Pogba
243814 Eric Bailly
243814 Eric Bailly
138929 Josh Brownhill
331924 Aaron Wan-Bissaka
300299 Marcus Rashford
300299 Marcus Rashford
131464 James Tarkowski
24148 Erik Pieters
24148 Erik Pieters
300299 Marcus Rashford
331924 Aaron Wan-Bissaka
123761 Bruno Fernandes
123761 Bruno Fernandes
105720 Nick Pope
105720 Nick Pope
105720 Nick Pope
99487 Harry Maguire
123761 Bruno Fernandes
138929 Josh Brownhill
331924 Aaron Wan-Bissaka
123761 Bruno Fernandes
123761 Bruno Fernandes
122366 Anthony Martial
122366 Anthony Martial
97752 Paul Pogba
97752 Paul Pogba
122366 Anthony Martial
24148 Erik Pieters
138929 Josh Brownhill
331924 Aaron Wan-Bissaka
123761 Bruno Fernandes
105720 Nick Pope
99487 Harry Maguire
24328 Edinson Cavani
24328 Edinson Cavani
105720 Nick Pope
97752 Paul Pogba
93473 Robbie Brady
94935 Ben Mee
94935 Ben Mee
243814 Eric Bailly
300299 Marcus Rashford
300299 Marcus Rashford
97752 Paul Pogba
123761 Bruno Fernandes
123761 Bruno Fernandes
24328 Edinson Cavani
24328 Edinson Cavani
97752 Paul Pogba
97752 Paul Pogba
123761 Bruno Fernandes
123761 Bruno Fernandes
38128 Nemanja Matic
99487 Harry Maguire
118244 Luke Shaw
300299 Marcus Rashford
300299 Marcus Rashford
24148 Erik Pieters
80067 Matthew Lowton
243814 Eric Bailly
79050 Ashley Westwood
331924 Aaron Wan-Bissaka
93473 Robbie Brady
93473 Robbie Brady
93473 Robbie Brady
24328 Edinson Cavani
24328 Edinson Cavani
24328 Edinson Cavani
38128 Nemanja Matic
38128 Nemanja Matic
300299 Marcus Rashford
38128 Nemanja Matic
118244 Luke Shaw
122366 Anthony Martial
122366 Anthony Martial
300299 Marcus Rashford
123761 Bruno Fernandes
97752 Paul Pogba
300299 Marcus Rashford
41868 Johann Gudmundsson
99487 Harry Maguire
123761 Bruno Fernandes
118244 Luke Shaw
118244 Luke Shaw
122366 Anthony Martial
122366 Anthony Martial
123761 Bruno Fernandes
123761 Bruno Fernandes
105720 Nick Pope
105720 Nick Pope
105720 Nick Pope
105720 Nick Pope
97752 Paul Pogba
94935 Ben Mee
33386 Ashley Barnes
97752 Paul Pogba
243814 Eric Bailly
97752 Paul Pogba
97752 Paul Pogba
331924 Aaron Wan-Bissaka
97752 Paul Pogba
118244 Luke Shaw
99487 Harry Maguire
99487 Harry Maguire
93473 Robbie Brady
79050 Ashley Westwood
38128 Nemanja Matic
243814 Eric Bailly
243814 Eric Bailly
331924 Aaron Wan-Bissaka
24328 Edinson Cavani
300299 Marcus Rashford
300299 Marcus Rashford
24148 Erik Pieters
93473 Robbie Brady
93473 Robbie Brady
73380 Chris Wood
24148 Erik Pieters
138929 Josh Brownhill
24148 Erik Pieters
24148 Erik Pieters
97752 Paul Pogba
73380 Chris Wood
38128 Nemanja Matic
79050 Ashley Westwood
123761 Bruno Fernandes
94935 Ben Mee
33386 Ashley Barnes
79050 Ashley Westwood

41868 Johann Gudmundsson
79050 Ashley Westwood
80067 Matthew Lowton
80067 Matthew Lowton
38128 Nemanja Matic
243814 Eric Bailly
38128 Nemanja Matic
38128 Nemanja Matic
331924 Aaron Wan-Bissaka
123761 Bruno Fernandes
41868 Johann Gudmundsson
41868 Johann Gudmundsson
41868 Johann Gudmundsson
243814 Eric Bailly
118244 Luke Shaw
24328 Edinson Cavani
99487 Harry Maguire
99487 Harry Maguire
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
122366 Anthony Martial
122366 Anthony Martial
97752 Paul Pogba
300299 Marcus Rashford
105720 Nick Pope
105720 Nick Pope
97752 Paul Pogba
38128 Nemanja Matic
138929 Josh Brownhill
97752 Paul Pogba
99487 Harry Maguire
97752 Paul Pogba
97752 Paul Pogba
38128 Nemanja Matic
38128 Nemanja Matic
122366 Anthony Martial
118244 Luke Shaw
41868 Johann Gudmundsson
80067 Matthew Lowton
33386 Ashley Barnes
33386 Ashley Barnes
357427 Dwight McNeil
357427 Dwight McNeil
24148 Erik Pieters
331924 Aaron Wan-Bissaka
24148 Erik Pieters
94935 Ben Mee
94935 Ben Mee
131464 James Tarkowski
243814 Eric Bailly
97752 Paul Pogba
97752 Paul Pogba
38128 Nemanja Matic
122366 Anthony Martial
122366 Anthony Martial
300299 Marcus Rashford
300299 Marcus Rashford
118244 Luke Shaw
80067 Matthew Lowton
24328 Edinson Cavani
105720 Nick Pope
94935 Ben Mee
94935 Ben Mee
73380 Chris Wood
331924 Aaron Wan-Bissaka
97752 Paul Pogba
97752 Paul Pogba
38128 Nemanja Matic
38128 Nemanja Matic
300299 Marcus Rashford
300299 Marcus Rashford
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
123761 Bruno Fernandes
300299 Marcus Rashford
300299 Marcus Rashford
123761 Bruno Fernandes
122366 Anthony Martial
24328 Edinson Cavani
79050 Ashley Westwood
131464 James Tarkowski
33386 Ashley Barnes
33386 Ashley Barnes
33386 Ashley Barnes
99487 Harry Maguire
243814 Eric Bailly
331924 Aaron Wan-Bissaka
300299 Marcus Rashford
331924 Aaron Wan-Bissaka
243814 Eric Bailly
99487 Harry Maguire
357427 Dwight McNeil
97752 Paul Pogba
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
97752 Paul Pogba
38128 Nemanja Matic
38128 Nemanja Matic
123761 Bruno Fernandes
123761 Bruno Fernandes
97752 Paul Pogba
331924 Aaron Wan-Bissaka
123761 Bruno Fernandes
38128 Nemanja Matic
122366 Anthony Martial
122366 Anthony Martial
300299 Marcus Rashford
331924 Aaron Wan-Bissaka
138929 Josh Brownhill
38128 Nemanja Matic
243814 Eric Bailly
99487 Harry Maguire
243814 Eric Bailly
38128 Nemanja Matic
38128 Nemanja Matic
357427 Dwight McNeil
123761 Bruno Fernandes
122366 Anthony Martial
122366 Anthony Martial
123761 Bruno Fernandes
94935 Ben Mee
122366 Anthony Martial
24328 Edinson Cavani
94935 Ben Mee
357427 Dwight McNeil
24148 Erik Pieters
73380 Chris Wood
38128 Nemanja Matic
97752 Paul Pogba
123761 Bruno Fernandes
300299 Marcus Rashford
300299 Marcus Rashford
97752 Paul Pogba
79050 Ashley Westwood
131464 James Tarkowski
24148 Erik Pieters
24148 Erik Pieters
357427 Dwight McNeil
357427 Dwight McNeil
94935 Ben Mee
131464 James Tarkowski
131464 James Tarkowski
138929 Josh Brownhill
138929 Josh Brownhill
357427 Dwight McNeil
357427 Dwight McNeil
24148 Erik Pieters
97752 Paul Pogba
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
118244 Luke Shaw
118244 Luke Shaw
38128 Nemanja Matic
38128 Nemanja Matic
243814 Eric Bailly
243814 Eric Bailly
300299 Marcus Rashford
331924 Aaron Wan-Bissaka
97752 Paul Pogba
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
24328 Edinson Cavani
24328 Edinson Cavani
123761 Bruno Fernandes
118244 Luke Shaw
38128 Nemanja Matic
123761 Bruno Fernandes
122366 Anthony Martial
118244 Luke Shaw
123761 Bruno Fernandes
122366 Anthony Martial
123761 Bruno Fernandes
300299 Marcus Rashford
38128 Nemanja Matic
99487 Harry Maguire
99487 Harry Maguire
243814 Eric Bailly
99487 Harry Maguire
131464 James Tarkowski
118244 Luke Shaw
79050 Ashley Westwood
123761 Bruno Fernandes
118244 Luke Shaw
123761 Bruno Fernandes
123761 Bruno Fernandes
131464 James Tarkowski
41868 Johann Gudmundsson
99487 Harry Maguire
80067 Matthew Lowton
99487 Harry Maguire
118244 Luke Shaw
300299 Marcus Rashford
24148 Erik Pieters
357427 Dwight McNeil
357427 Dwight McNeil
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
24148 Erik Pieters
138929 Josh Brownhill
94935 Ben Mee
131464 James Tarkowski
80067 Matthew Lowton
79050 Ashley Westwood
80067 Matthew Lowton
80067 Matthew Lowton
99487 Harry Maguire
80067 Matthew Lowton
41868 Johann Gudmundsson
80067 Matthew Lowton
80067 Matthew Lowton
80067 Matthew Lowton
300299 Marcus Rashford
80067 Matthew Lowton
41868 Johann Gudmundsson
80067 Matthew Lowton
97752 Paul Pogba
131464 James Tarkowski
24328 Edinson Cavani
94935 Ben Mee
138929 Josh Brownhill
138929 Josh Brownhill
357427 Dwight McNeil
357427 Dwight McNeil
73380 Chris Wood
357427 Dwight McNeil
357427 Dwight McNeil
24148 Erik Pieters
138929 Josh Brownhill
79050 Ashley Westwood
79050 Ashley Westwood
80067 Matthew Lowton
99487 Harry Maguire
79050 Ashley Westwood
41868 Johann Gudmundsson
243814 Eric Bailly
138929 Josh Brownhill
80067 Matthew Lowton
79554 David de Gea
79554 David de Gea
79554 David de Gea
123761 Bruno Fernandes
122366 Anthony Martial
122366 Anthony Martial
118244 Luke Shaw
300299 Marcus Rashford
118244 Luke Shaw
99487 Harry Maguire
138929 Josh Brownhill
97752 Paul Pogba
118244 Luke Shaw
300299 Marcus Rashford
99487 Harry Maguire
243814 Eric Bailly
243814 Eric Bailly
94935 Ben Mee
24148 Erik Pieters
138929 Josh Brownhill
79050 Ashley Westwood
79050 Ashley Westwood
80067 Matthew Lowton
41868 Johann Gudmundsson
80067 Matthew Lowton
80067 Matthew Lowton
24328 Edinson Cavani
300299 Marcus Rashford
300299 Marcus Rashford
97752 Paul Pogba
300299 Marcus Rashford
131464 James Tarkowski
79050 Ashley Westwood
79050 Ashley Westwood
41868 Johann Gudmundsson
41868 Johann Gudmundsson
73380 Chris Wood
33386 Ashley Barnes
33386 Ashley Barnes
331924 Aaron Wan-Bissaka
38128 Nemanja Matic
38128 Nemanja Matic
331924 Aaron Wan-Bissaka
97752 Paul Pogba
97752 Paul Pogba
38128 Nemanja Matic
97752 Paul Pogba
97752 Paul Pogba
357427 Dwight McNeil
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
97752 Paul Pogba
331924 Aaron Wan-Bissaka
33386 Ashley Barnes
331924 Aaron Wan-Bissaka
33386 Ashley Barnes
331924 Aaron Wan-Bissaka
243814 Eric Bailly
243814 Eric Bailly
331924 Aaron Wan-Bissaka
97752 Paul Pogba
24148 Erik Pieters
357427 Dwight McNeil
357427 Dwight McNeil
24148 Erik Pieters
94935 Ben Mee
131464 James Tarkowski
80067 Matthew Lowton
122366 Anthony Martial
80067 Matthew Lowton
122366 Anthony Martial
123761 Bruno Fernandes
123761 Bruno Fernandes
118244 Luke Shaw
97752 Paul Pogba
331924 Aaron Wan-Bissaka
367782 Mason Greenwood
367782 Mason Greenwood
331924 Aaron Wan-Bissaka
97752 Paul Pogba
97752 Paul Pogba
367782 Mason Greenwood
97752 Paul Pogba
331924 Aaron Wan-Bissaka
331924 Aaron Wan-Bissaka
367782 Mason Greenwood
123761 Bruno Fernandes
123761 Bruno Fernandes
97752 Paul Pogba
97752 Paul Pogba
122366 Anthony Martial
122366 Anthony Martial
131464 James Tarkowski
105720 Nick Pope
105720 Nick Pope
105720 Nick Pope
97752 Paul Pogba
80067 Matthew Lowton
105720 Nick Pope
105720 Nick Pope
105720 Nick Pope
94935 Ben Mee
105720 Nick Pope
38128 Nemanja Matic
122366 Anthony Martial
122366 Anthony Martial
118244 Luke Shaw
118244 Luke Shaw
138929 Josh Brownhill
41868 Johann Gudmundsson
33386 Ashley Barnes
97752 Paul Pogba
79050 Ashley Westwood
41868 Johann Gudmundsson
41868 Johann Gudmundsson
357427 Dwight McNeil
357427 Dwight McNeil
24148 Erik Pieters
94935 Ben Mee
79050 Ashley Westwood
79050 Ashley Westwood
80067 Matthew Lowton
131464 James Tarkowski
131464 James Tarkowski
138929 Josh Brownhill
138929 Josh Brownhill
79050 Ashley Westwood
84129 Matej Vydra
243814 Eric Bailly
131464 James Tarkowski
94935 Ben Mee
94935 Ben Mee
94935 Ben Mee
357427 Dwight McNeil
357427 Dwight McNeil
24148 Erik Pieters
357427 Dwight McNeil
357427 Dwight McNeil
80067 Matthew Lowton
79050 Ashley Westwood
331924 Aaron Wan-Bissaka
138929 Josh Brownhill
79554 David de Gea
122366 Anthony Martial
138929 Josh Brownhill
38128 Nemanja Matic
138929 Josh Brownhill
131464 James Tarkowski
38128 Nemanja Matic
24148 Erik Pieters
79554 David de Gea
41868 Johann Gudmundsson
84129 Matej Vydra
79050 Ashley Westwood
79050 Ashley Westwood
80067 Matthew Lowton
79050 Ashley Westwood
79050 Ashley Westwood
84129 Matej Vydra
84129 Matej Vydra
243814 Eric Bailly
357427 Dwight McNeil
97752 Paul Pogba
80067 Matthew Lowton
138929 Josh Brownhill
138929 Josh Brownhill
243814 Eric Bailly
131464 James Tarkowski
84129 Matej Vydra
84129 Matej Vydra
79554 David de Gea
94935 Ben Mee

118244 Luke Shaw
131464 James Tarkowski
99487 Harry Maguire
131464 James Tarkowski
33891 Jay Rodriguez
33891 Jay Rodriguez
131464 James Tarkowski
122366 Anthony Martial
105720 Nick Pope
138929 Josh Brownhill
33891 Jay Rodriguez
41868 Johann Gudmundsson
357427 Dwight McNeil
243814 Eric Bailly
131464 James Tarkowski
336915 Scott McTominay
118244 Luke Shaw
118244 Luke Shaw
97752 Paul Pogba
79554 David de Gea
79554 David de Gea
105720 Nick Pope
336915 Scott McTominay
33891 Jay Rodriguez
357427 Dwight McNeil
357427 Dwight McNeil
84129 Matej Vydra
138929 Josh Brownhill
357427 Dwight McNeil
331924 Aaron Wan-Bissaka
24148 Erik Pieters
79050 Ashley Westwood
131464 James Tarkowski
131464 James Tarkowski
138929 Josh Brownhill
336915 Scott McTominay
24328 Edinson Cavani
122366 Anthony Martial
105720 Nick Pope
94935 Ben Mee
94935 Ben Mee
84129 Matej Vydra
357427 Dwight McNeil
138929 Josh Brownhill
357427 Dwight McNeil
24148 Erik Pieters
94935 Ben Mee
79050 Ashley Westwood
79050 Ashley Westwood
80067 Matthew Lowton
80067 Matthew Lowton
118244 Luke Shaw
118244 Luke Shaw
118244 Luke Shaw
80067 Matthew Lowton
138929 Josh Brownhill
80067 Matthew Lowton
336915 Scott McTominay
84129 Matej Vydra
79554 David de Gea
131464 James Tarkowski
33891 Jay Rodriguez
99487 Harry Maguire
131464 James Tarkowski
79050 Ashley Westwood
79050 Ashley Westwood
131464 James Tarkowski
80067 Matthew Lowton
138929 Josh Brownhill
336915 Scott McTominay
80067 Matthew Lowton

In [32]:
df_spadl['player_name'] = [players1[players1.player_id==x]['player_name'].values[0] for x in df_spadl['player_id']]

In [36]:
df_spadl[df_spadl['type_id']==11]

,game_id,original_event_id,period_id,time_seconds,team_id,player_id,start_x,end_x,start_y,end_y,type_id,result_id,bodypart_id,action_id,player_name
4,1485184,2253487689,1,11.0,184,93473,90.300,105.000,49.708,38.828,11,0,0,4,Robbie Brady
48,1485184,2253489297,1,169.0,184,41868,81.690,86.205,23.732,25.500,11,0,0,48,Johann Gudmundsson
166,1485184,2253492889,1,542.0,184,93473,80.955,90.195,44.268,39.984,11,0,0,166,Robbie Brady
214,1485184,2253494513,1,725.0,184,94935,76.860,105.000,41.004,46.716,11,0,0,214,Ben Mee
272,1485184,2253496507,1,968.0,32,123761,15.540,1.890,34.476,34.340,11,0,0,272,Bruno Fernandes
324,1485184,2253497751,1,1139.0,32,122366,11.970,10.080,32.504,32.776,11,0,0,324,Anthony Martial
359,1485184,2253498685,1,1271.0,184,73380,89.250,92.820,34.884,34.612,11,0,0,359,Chris Wood
382,1485184,2253500075,1,1464.0,32,122366,16.170,0.000,35.020,29.580,11,0,0,382,Anthony Martial
503,1485184,2253505835,1,2265.0,32,24328,9.240,7.350,35.020,34.952,11,0,0,503,Edinson Cavani
606,1485184,2253508377,1,2685.0,32,122366,25.515,1.680,24.140,33.728,11,0,0,606,Anthony Martial
769,1485184,2253515145,2,516.0,32,123761,27.510,14.805,45.152,40.120,11,0,0,769,Bruno Fernandes
813,1485184,2253515877,2,653.0,184,33386,80.325,103.320,27.336,26.044,11,0,0,813,Ashley Barnes
825,1485184,2253516005,2,677.0,32,24328,9.240,1.575,31.552,32.436,11,0,0,825,Edinson Cavani
922,1485184,2253517613,2,941.0,32,123761,22.155,2.415,43.452,34.612,11,0,0,922,Bruno Fernandes
997,1485184,2253519137,2,1178.0,32,123761,24.045,2.310,23.460,33.660,11,0,0,997,Bruno Fernandes
1098,1485184,2253521193,2,1595.0,32,24328,9.240,0.000,39.984,26.996,11,0,0,1098,Edinson Cavani
1171,1485184,2253522047,2,1808.0,32,97752,16.800,0.000,31.280,34.000,11,1,0,1171,Paul Pogba
1367,1485184,2253524369,2,2498.0,32,122366,9.240,7.455,39.372,38.692,11,0,0,1367,Anthony Martial
1417,1485184,2253524731,2,2663.0,184,138929,83.055,105.000,40.936,28.084,11,0,0,1417,Josh Brownhill
1435,1485184,2253525127,2,2795.0,184,84129,93.450,97.860,23.868,26.656,11,0,0,1435,Matej Vydra
1445,1485184,2253525247,2,2839.0,184,84129,94.920,105.000,27.812,36.924,11,0,0,1445,Matej Vydra
1462,1485184,2253525701,2,3013.0,184,131464,96.075,99.225,33.524,34.272,11,0,0,1462,James Tarkowski
1485,1485184,2253526019,2,3180.0,32,122366,13.650,5.775,39.372,36.176,11,0,0,1485,Anthony Martial
1506,1485184,2253526203,2,3297.0,184,84129,91.245,105.000,43.316,26.180,11,0,0,1506,Matej Vydra

In [37]:
import mplsoccer as mpl

In [ ]:
df_plot =

In [ ]:
fig, ax = pitch.draw(figsize=(8, 8), constrained_layout=False, tight_layout=True)

# pitch.lines(df_all.loc[t_seq[30][0]:t_seq[30][1]]['x'],df_all.loc[t_seq[30][0]:t_seq[30][1]]['y'],
#            df_all.loc[t_seq[30][0]:t_seq[30][1]]['endX'],df_all.loc[t_seq[30][0]:t_seq[30][1]]['endY'],
#            comet=True,ax=ax)

pitch.arrows(df_plot['start_x'],df_plot['start_y'],
           df_plot['end_x'],df_plot['end_y'],
          ax=ax,width=2)